body {
    width: 1301px;
    margin: 0 auto;
}
.header{
    position: relative;
    height: 71px;
    background-color: rgba(140, 10, 13, 1);
    text-transform: uppercase;
}
.logo {
    position: absolute;
    top: 15px;
    left: 65px;
}
.formatText {
    font-size: 14px;
    font-weight: bold;
    color: #FFE394;
    text-decoration: none;
    float: left;
    margin-left: 31px;
}
.areaMenu {
    position: absolute;
    top: 35px;
    left: 338px;
}
.areaLang {
    position: absolute;
    top: 32px;
    left: 1168px;
}
.lang {    
    font-size: 18px;
    font-weight: bold;
    color: #FFE394;
    text-decoration: none;
    float: right;
    margin-top: -1px;
    margin-left: 10px;
}
.main {
    position: relative;
    height: 686px;
    background-image: url("img/Stars.png");
}
.cover {
    height: 686px;
    background-color: rgba(245, 232, 198, 0.85);
}
.image {
    position: absolute;
    top: 25px;
    left: 65px;
}
.board {
    border: 4px solid rgba(53, 4, 12, 1);
}
.arrowLeft {
    position: absolute;
    top: 180px;
    left: 93px;
    cursor:pointer;
}
.arrowRight {
    position: absolute;
    top: 180px;
    left: 1160px;
    transform: rotate(180deg);
    cursor:pointer;
}
.button {
    position: absolute;
    top: 135px;
    left: 562px;
    width: 190px;
    height: 43px;
    font-size: 24px;
    font-family: serif;
    background-color: rgba(246, 204, 121, 1);
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 0px 0 rgba(191, 103, 13, 1);
    cursor:pointer;
}
.button:hover {
    background: rgb(221, 145, 3);
}
.titleRoshen {
    position: absolute;
    top: 56px;
    left: 427px;
    font-size: 60px;
    line-height: 53px;
}
.areaCircles {
    position: absolute;
    top: 340px;
    left: 620px;
}
.circle {
    width: 16px;
    height: 16px;
    margin-left: 12px;
    border-radius: 50%;
    cursor:pointer;
    background-color: white;
    float: left;
}
.CircleColor {
    background-color: rgba(191, 103, 13, 1);
}
.areaPrePost {
    position: absolute;
    top: 390px;
    left: 50px;
}
.formatPost {
    width: 284px;
    margin-left: 16px;
    float: left;
}
.fontPrePost {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}
.areaPost {
    position: absolute;
    top: 515px;
    left: 50px;
}
.fontPost {
    font-size: 16px;
    line-height: 21px;
}
.footer {
    position: relative;
    height: 71px;
    background-color: rgba(140, 10, 13, 1);
}
.areaFooter1 {
    position: absolute;
    top: 12px;
    left: 50px;
}
.areaFooter2 {
    position: absolute;
    top: 40px;
    left: 50px;
}
.marginPlus {
    margin-left: 44px;
}
.marginMinus {
    margin-left: -12px;
}
.textBordo {
    color: rgba(140, 10, 13, 1);;
}
.areaSocial {
    position: absolute;
    top: 20px;
    right: 60px;
}
.Social {
    float: right;
    margin-left: 13px;
}